#header .pages a {
margin-right: 0px;
}
.pages a {
background: rgba(0,0,0,0.05);
font-size: 13px;
font-weight: 500;
text-transform: uppercase;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border-top: 28px solid rgba(0,0,0,-0.95);
padding: 16px 15px;
padding-top:20px;
}
.fixed .pages a {
background: rgba(0,0,0,0.05);
font-size: 13px;
font-weight: 500;
text-transform: uppercase;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
padding: 16px 15px;
}
.colored-panel, .type-answer .user-question, .pages a:hover, .invert .fixed .pages a:hover, .invert .pinned .pages a:hover, .invert #sidebar .pages a:hover, .more-likes:hover, .invert-topbar .fixed .pages a:hover, .like_link a:hover, .type-photoset .navi a:hover, #pagination .nextprev a:hover, #group-members li span, #followed li span {
background-color: #f55b2c;
}
.pages a:hover {
background-color: #f55b2c;
border-top: 28px solid #f55b2c;
}
.pinned .inner {
border-bottom: 1px solid rgba(0,0,0,0.1);
padding-bottom: 0px;
}

#header .blog-title {
font-size: 26px;
line-height: 1;
float: left;
padding: 13px 25px 0 0;
}
#header .pages {
float: left;
margin: 15px 10px 0 0;
}
.post .post-panel {
background: rgba(255, 255, 255, 0.9)
}
